<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
            <style>
hr.new2 {
  border-top: 1px dashed black;
  width:400px;
  margin-left:0px;
}
      </style>
   </head>
   <body style="margin: 0px; padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; ">
      <div style="font-family: arial; width: 100%; background: #ffffff; margin: 0px auto;">
         <div style="padding:10px; text-align: center; border-bottom-width: 1px; ">
<!--       <img src={{data.logo}} width="100" height="100"> -->
         </div>
         <div style=" padding-top: 10px; padding-left: 10px; padding-bottom: 10px; padding-right: 10px;">
            <p style="font-size: 15px; font-weight: bold; margin-bottom: 10px; ">Hi Admin</p>
            <p style="font-size: 14px; line-height: 20px;  margin-bottom: 10px;">New Brand is registered. Details are below</p> 
         


<div style="font-weight: bold; margin-bottom: 10px; font-size: 16px; padding: 10px 5px;"></div>
    <table>
        <tr>
            <td>Brand Name</td>
            <td>:</td>
            <td>{{company_name}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>:</td>
            <td>{{company_email_id}}</td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td>:</td>
            <td>{{company_contact_no}}</td>
        </tr>
        <tr>
            <td>Country</td>
            <td>:</td>
            <td>{{country_name}}</td>
        </tr>
        <tr>
            <td>State</td>
            <td>:</td>
            <td>{{state_name}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td>:</td>
            <td>{{city_name}}</td>
        </tr>
    </table>
<div>
   </body>
</html>

