<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
   </head>
   <body>
      <div style="font-family: arial; width: 100%; height: 95vh; background: #ffffff; margin: 0px auto;">
     
         <div>
            <img src={{logo}} width="100" height="100">
         </div>

         <div style=" padding-top: 10px; padding-left: 10px; padding-bottom: 10px; padding-right: 10px;">

      <p style="font-size: 15px; font-weight: bold; margin-bottom: 10px; ">Dear {{name}},</p>


     <p style="font-size: 14px; line-height: 20px;  margin-bottom: 10px; ">Please use the following One Time Password (OTP) to verify your email address:
</p>
          
         
    <p>OTP : {{otp}} </p>




      <p style="font-family: arial; color: #145388; font-size: 10pt">Thank you, <br>
          Team {{company_name}} <br><a href="#" style="color:#145388;"></a>
        </p>





</div>
</div>
   
 
   </body>
</html>