<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Insta Pizza</title>
   </head>
   <body style="margin: 0px; padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; background:#dedede;">
      <div style="font-family: arial; width: 100%; height: 95vh; background: #ffffff; margin: 0px auto;">
         <!-- header -->
         <div style="background: #ffffff; padding:10px; text-align: center; border-bottom-color: #c0c0c0; border-bottom-width: 1px; border-bottom-style: solid">
            <img src={{data1.logo}} width="100" height="100">
         </div>
         <!-- header /-->
         <!-------- body -------->
         <div style=" padding-top: 10px; padding-left: 10px; padding-bottom: 10px; padding-right: 10px;">

      <p style="font-size: 15px; font-weight: bold; margin-bottom: 10px; ">Dear :{{data1.name}} </p>


     <p style="font-size: 14px; line-height: 20px;  margin-bottom: 10px; ">Welcome to Our Portal....Please find your login details to grab 
     more exciting offers from our side!!</p>
          
         



<div style="font-weight: bold; margin-bottom: 10px; font-size: 16px; color: black;    background: #FFEB3B;
    padding: 10px 5px;">Login Credentials</div>
<!-- row -->
<div>



<div style="float: left; width: 300px;  font-size: 14px;  margin-bottom: 15px;line-height: 1.6;">
<strong style="font-weight: bold; font-size: 15px; color: #e80b48;line-height: 1.6;">User Name   :</strong> {{data1.username}}<br>
<strong style="font-weight: bold; font-size: 15px; color: #e80b48;line-height: 1.6;">Password    :</strong> {{data1.password}}<br>
</div>



</div>
 <!------- table ---------------->
 <div style="overflow-x:auto;">     
              
 <!------- table / ------------->
    <div style="display: flex;margin: 0 auto;max-width: 141px;">  


         <div style=" padding-top: 5px; padding-left: 5px; padding-right: 5px; padding-bottom: 5px; text-align: center;">
            <div style="width: 200px; margin-left: auto; margin-right: auto; ">
               <table width="380" style="width: 200px; border: none;" border="0">

               </table>
            </div>
         </div>
         <!-- footer 2 / -->
      </div>
   </body>
</html>

